#banner {
  width: 100%;
  position: relative;
}

#banner .banner_pic {
  width: 100%;
  padding-bottom: 46%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#banner .banner_text {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
}

#banner .banner_text .deco-bar {
  width: 80px;
  margin-top: -100%;
  margin-bottom: 10px;
}

#banner .banner_text h3 {
  margin-bottom: 10px;
}

#aboutina .inner {
  margin-top: 50px;
  padding: 0 0 50px;
  position: relative;
}

#aboutina .text {
  width: 600px;
  padding: 50px;
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  right: 10%;
  top: 10%;
  z-index: 1;
}

#aboutina .text .title_bar {
  width: 100%;
}

#aboutina .text .title_bar img {
  margin-right: 20px;
}

#aboutina .text .title {
  position: relative;
  display: inline-block;
}

#aboutina .text .title h2 {
  position: relative;
}

#aboutina .text .title h2::before {
  content: '';
  width: 80px;
  height: 90px;
  background-image: url(../img/dec-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#aboutina .text .cnt {
  padding-top: 10px;
}

#aboutina .pic {
  width: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

#aboutina .pic figure {
  width: 100%;
  padding-bottom: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  #aboutina .inner {
    padding: 50px 0;
  }
  #aboutina .text {
    width: 100%;
    padding: 30px 0;
    position: relative;
    top: 0;
    left: 0;
  }
  #aboutina .text .title {
    padding-right: 80px;
  }
  #aboutina .text .title::before {
    content: '';
    width: 80px;
    height: 93px;
  }
  #aboutina .pic {
    width: 100%;
    min-width: auto;
  }
}

#child {
  margin-top: 40px;
  text-align: left;
}

#child .inner {
  padding: 0 20px 50px 20px;
  margin-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#child .title_bar {
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
}

#child .title_bar img {
  height: 80px;
  margin-right: 20px;
}

#child .title {
  width: auto;
  position: relative;
  display: inline-block;
  padding-right: 130px;
}

#child .title h2 {
  position: relative;
}

#child .title h2::before {
  content: '';
  width: 80px;
  height: 90px;
  background-image: url(../img/dec-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#child .itembox {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#child .itembox .item {
  width: 28%;
  margin: 20px 10px;
}

#child .itembox .item .overcome_count {
  font-size: 70px;
  opacity: .5;
  line-height: 1;
}

#child .itembox .item .overcome_count,
#child .itembox .item h6 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  #child .inner {
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  #child .inner {
    padding: 20px 0;
  }
  #child .itembox .item {
    width: 45%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  #child .inner {
    padding: 20px 0;
  }
  #child .itembox .item {
    width: 90%;
    margin: 10px 0;
  }
}

#timeline .inner {
  margin-top: 50px;
  padding: 0 0 50px;
  position: relative;
}

#timeline .text {
  padding: 50px 10px 50px 50px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  left: 10%;
  top: 10%;
  z-index: 1;
  width: 80%;
}

#timeline .text .title_bar {
  width: 100%;
}

#timeline .text .title_bar img {
  margin-right: 20px;
}

#timeline .text .title {
  position: relative;
  display: inline-block;
}

#timeline .text .title h2 {
  position: relative;
}

#timeline .text .title h2::before {
  content: '';
  width: 80px;
  height: 90px;
  background-image: url(../img/dec-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#timeline .text .cnt {
  padding-top: 10px;
}

#timeline .pic {
  width: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

#timeline .pic figure {
  width: 100%;
  padding-bottom: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#timeline .container {
  height: 300px;
  overflow: auto;
}

@media screen and (max-width: 1023px) {
  #timeline .text {
    width: 100%;
    padding: 30px 0;
    position: relative;
    top: 0;
    left: 0;
  }
  #timeline .container {
    height: auto;
    overflow: unset;
  }
}

#timeline .card, #timeline .card-body {
  background: none;
  border: none;
}

#timeline .timeline {
  left: 10%;
  border-left: 3px solid #4aac36;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(74, 172, 54, 0.09);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 80%;
}

@media (max-width: 767px) {
  #timeline .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

#timeline .timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

#timeline .timeline h2,
#timeline .timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

#timeline .timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  #timeline .timeline .event {
    padding-top: 30px;
  }
}

#timeline .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

#timeline .timeline .event:before,
#timeline .timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

#timeline .timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  #timeline .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

#timeline .timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #4aac36;
  box-shadow: 0 0 0 3px #4aac36;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  #timeline .timeline .event:after {
    left: -31.8px;
  }
}

#timeline .rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

#timeline .rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

#timeline .rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

#investor .inner {
  margin-bottom: 20vh;
  padding: 60px 0 50px;
  position: relative;
}

#investor .title_bar {
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
}

#investor .title_bar img {
  height: 80px;
  margin-right: 20px;
}

#investor .title {
  width: auto;
  position: relative;
  display: inline-block;
  padding-right: 130px;
}

#investor .title h2 {
  position: relative;
}

#investor .title h2::before {
  content: '';
  width: 80px;
  height: 90px;
  background-image: url(../img/dec-light.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#investor .date {
  color: #198964;
  margin-right: 20px;
}
/*# sourceMappingURL=about.css.map */