#banner{
    width: 100%;
    position: relative;
    text-align: right;
    .banner_pic{
        width: 100%;
        padding-bottom: 46%;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .banner_text{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        text-transform: uppercase;
        .deco-bar{
            width: 80px;
            margin-top: -100%;
            margin-bottom: 10px;
        }
    }
    h3{
        margin-bottom: 10px;
    }
}

#news{
    padding: 20px 0;
    .inner{
        margin-top: 50px;
        padding: 20px 0;
        .title{
            .title_bar{
                width: 100%;
                img{margin-right: 20px;}
            }
            .title_text{
                position: relative;
                display: inline-block;
                h2{position: relative;}
                h2::before{
                    content: '';
                    width: 80px;
                    height: 90px;
                    background-image: url(../img/dec-light.svg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateX(100%);
                }
            }
        }
        .cnt{
            width: 100%;
            margin: auto;
            display: inline-block;
            background-color: rgba(107, 143, 36, 0.3);
            padding: 20px;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 5px gray;
            .card{
                width: 100%;
                border: none;
                position: relative;
                display: inline-block;
                margin: 10px 0 10px 0;
                box-shadow: 2px 2px 3px rgba(106, 142, 35, 0.425);
                .card-body{
                    .card-link{
                        padding: 0.2rem 0.5rem;
                        border-radius: 0.2rem;
                        color: white;
                        background-color: rgba(0, 128, 0, 0.7);
                    }
                }
            }
        }
    }
}

#career{
    padding: 20px 0;
    .inner{
        margin-top: 20px;
        padding: 20px 0;
        .title{
            .title_bar{
                width: 100%;
                img{margin-right: 20px;}
            }
            .title_text{
                position: relative;
                display: inline-block;
                h2{position: relative;}
                h2::before{
                    content: '';
                    width: 80px;
                    height: 90px;
                    background-image: url(../img/dec-light.svg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateX(100%);
                }
            }
        }
        .cnt{
            background-color: rgba(107, 143, 36, 0.3);
            padding: 10px;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 5px gray;
            .card{
                box-shadow: 2px 2px 3px rgba(106, 142, 35, 0.425);
                .card-body{
                    .card-title{
                        height: 3rem;
                        margin-bottom: 0.5rem;
                        font-weight:500;
                        color:black;
                    }
                    .card-text{
                        font-size: small;
                    }
                }
            }
        }
        .row{
            margin: 1rem auto;
        }
    }
}

#contact{
    padding: 20px 0;
    .inner{
        margin-top: 20px;
        padding: 20px 0;
        .title{
            .title_bar{
                width: 100%;
                img{margin-right: 20px;}
            }
            .title_text{
                position: relative;
                display: inline-block;
                h2{position: relative;}
                h2::before{
                    content: '';
                    width: 80px;
                    height: 90px;
                    background-image: url(../img/dec-light.svg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateX(100%);
                }
            }
        }
        .cnt{
            background-color: rgba(107, 143, 36, 0.3);
            padding: 10px;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 5px gray;
        }
        .form-title{
            margin: 10px;
            h4{
                font-weight: 500;
            }
        }
        .form-custom{
            background-color: white;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 3px rgba(106, 142, 35, 0.425);
            margin: 10px;
            padding: 10px;
            label{
                font-weight: 500;
            }
        }
    }
}

.btn-primary{
    background-color: olivedrab;
    color: white;
    padding: .375rem .75rem;
    border: none;
    box-shadow: 1px 1px 4px gray;
    line-height: 1.25;
}

.btn-primary:active{
    color: black;
    background-color: orange;
    border-color: chocolate;
}

.btn-primary:active:focus{
    box-shadow: 0 0 0 0.25rem rgba(210, 105, 30, 0.5);
}

.btn-primary:focus{
    color: black;
    background-color: orange;
    border-color: chocolate;
    box-shadow: 0 0 0 0.25rem rgba(210, 105, 30, 0.5);
}